*{
    border: Solid black 1px;
    text-align: center;
    padding: 1.5em;
    background-color: ivory;
    line-height: 180%;
    padding: 0.8em;
    list-style: none;
};

/*img {
  max-width: 100%;
  max-height: 100%;
}*/

*.#borat {
  width: 15em;
  height: 10em;
}

.portrait {
  width: 10em;
  height: 9.5em;
  border: none;
  filter: contrast(1.1);
  padding: 0;

}
.portrait:hover {
    background-color: #f9ce9f;
    transition: 0.5s ease;

}

/*#hideThis{
  width: 13em;
  height: 12.3em;
  border: none;

  background-color: inherit;
}*/

.btn {
  transition: .55s ease;
  opacity: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-width: 9em;
  max-height: 3em;
  bottom: 0;
}

#front-face:hover .btn {
  transition: 0.45s ease;
  opacity: 0.7;
  padding: 0.05em;
}
#front-face{
  position: relative;
  bottom: 0;
  padding: 0.1em;
}

#seattle{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/09/Sunset_seattle.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.55;
  padding-top: 5em;

}

#seattle:hover {
    background-color: #f9ce9f;
    transition: 0.5s ease;
    opacity: 1;
}
