*{
    /*border: Solid black 1px;*/
    text-align: center;
    background-color: ivory;
    line-height: 150%;
    /*padding: 0.75em;*/
    list-style: none;
    font-family: impact;
    font-style: italic;
    background-color: #FFFFFF;
};

body{
  border: Solid black 1px;
}

h1{
  font-size: 60px;
}

header{
  font-size: 40px;
  padding: 0.75em;
}

form{
  display: flex, block;
  align-items: center;
  text-align: center;
  resize: vertical;
  overflow: auto;
  padding-bottom: 5em;
}

li{
  font-size: 30px;
  padding: .50em;
}

footer{
  padding: 3em;
}

*.#borat {
  width: 15em;
  height: 10em;
  padding: 3em;
}

#box{
  width: 10em;
  height: 9.5em;
  border: none;
  filter: contrast(1.1);
  padding: 0;
}

img.portrait{
    border: none;

}

a#box:hover{
  background-color: transparent;
}

.portrait.* {
  width: 10em;
  height: 9.5em;
  border: none;
  filter: contrast(1.1);
  padding: 0;
}
.portrait:hover {
    background-color: transparent;
    transition: 0.5s ease;
    border: none;
}

.btn {
  transition: .55s ease;
  opacity: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-width: 9em;
  max-height: 3em;
  bottom: 0;
}

#front-face:hover .btn {
  transition: 0.45s ease;
  opacity: 0.7;
  padding: 0.05em;
}
#front-face{
  position: relative;
  bottom: 0;
  padding: 0.1em;
}

#seattle{
  background-image: url("http://www.solidbackgrounds.com/images/2560x1440/2560x1440-white-solid-color-background.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.55;
  padding-bottom: 5em;
  text-align: center;
  align-items: center;
}

#seattle:hover {
    transition: 0.5s ease;
    opacity: 1;
    background-size: cover;
    border: none;
}
