*{
    border: Solid black 1px;
    text-align: center;
    padding: 10px;
    background-color: ivory;
    line-height: 200%;
};

img {
  max-width: 100%;
}

*.#borat {
  width: 15em;
  height: 10em;
}

#portrait {
  width: 13em;
  height: 12em;
  border: none;
  /*opacity: 0.5;*/
  filter: contrast(1.3);
}
#portrait:hover {
    background-color: #f9ce9f;
    transition: 0.55s ease;
}

.btn {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-width: 7em;
  max-height: 2em;
  bottom: 0;
}

#front-face:hover .btn {
  opacity: 1;
  transition: 0.55s ease;
  opacity: 0.5;
  padding: 0.05em;
}
#front-face{
  position: relative;
  bottom: 0;
  padding: 0.1em;
}
